*
  padding: 0
  margin: 0
  box-sizing: border-box
  font-size: 20px
  color: var(--white)
  --white: #ccccc3
  --black: #1e1e22

html
  scroll-snap-type: y mandatory

body
  background: var(--black)