.section
  height: 100vh
  width: 100%
  padding: 1rem
  scroll-snap-align: start
  &.project
    .body_container
      overflow: auto
      display: flex
      width: 100%
      height: 100%
      display: flex
      flex-direction: column
      align-items: center
      gap: 0.1rem
      align-items: center
      justify-content: center
  &.about
    .body_container
      display: grid
      grid-template-columns: 400px 1fr
      grid-auto-rows: 400px max-content 1fr
      gap: 1rem
      color: var(--red)
